> This notebook will be focussing on pre-processing and shaping the provided & external datasets in a clean format so that they can used by the model directly. This will be the interim stage of our data pipeline

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from IPython.display import display # Allows the use of display() for DataFrames
import matplotlib.pyplot as plt
import seaborn as sns
import math

# Baseline SK Learn Model
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import cross_val_score, KFold, StratifiedKFold, StratifiedShuffleSplit
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer

from scipy.stats import skew

# Import OS module
import os

In [2]:
# Create Root Directory
rootDirectory = str(os.path.abspath('..'))

# Change Directory to data/raw
os.chdir("{}/data".format(rootDirectory))
print(os.getcwd())

C:\Users\rtilekar\Desktop\AirBnB_challenge\AirBnbPrediction\data

### Make Zillow Data

> Intuitively, the price for a similar Airbnb can be very different depending on the city and neighborhood. For example, Soho is known to be one of the most expensive places to live in NYC. The neighborhood and zip code field can help measure the cost of living for different locations. However, the dataset contains 770 different neighborhoods and 620 zip codes.<br><br>
> The large number of categorical variables would make it difficult for the model to extract valuable information in order to predict Airbnb price. One piece of information that must be highly correlated with AirBnB price, and at the same time measure the cost of living of the neighborhood, is the housing price. Luckily, the Zillow website has created a Zillow Value Home Index (ZHVI) by zip code. The ZHVI tracks the monthly median home value in a particular geographical region, in our case a zip code. You can find the dataset on [Zillow's website](https://www.zillow.com/research/data).

In [3]:
    # Zillow data import
    zillow_filename = '/data/external/Zip_Zhvi_Summary_AllHomes.csv'
    zillow = pd.read_csv(rootDirectory + zillow_filename)
    zillow = zillow[['RegionName','City','Zhvi']]
    zillow = zillow[(zillow.City =='Boston') | (zillow.City =='Chicago') | (zillow.City =='San Francisco') |
        (zillow.City =='Los Angeles') | (zillow.City =='Washington') | (zillow.City =='New York') ]

    # Rename cities name to match the Zillow dataset and train dataset
    name_map = {'New York':'NYC','San Francisco':'SF','Los Angeles':'LA','Washington':'DC','Chicago':'Chicago','Boston':'Boston'}

    zillow['City'] = zillow['City'].apply(lambda x:name_map[x])

    # Apply log to the Zillow home value index
    zillow['Zhvi'] = zillow['Zhvi'].apply(lambda x:np.log(x))

    # Rename column to be able to merge
    zillow.columns = ['zipcode','city','zhvi']
    # Change data type to be able to merge
    zillow['zipcode']= zillow['zipcode'].astype('str')

    print("Zillow data Shape: {}".format(zillow.shape))

    zillow.to_csv(rootDirectory + '/data/interim/zillow_ready.csv', index=False, encoding='utf-8')

    print("Make Zillow Dataset Complete")

Zillow data Shape: (354, 3)
Make Zillow Dataset Complete

In [4]:
# Load dataset for exloratory analysis
#Define file name
train_filename = '/data/raw/train.csv'
test_filename = '/data/raw/test.csv'
sample_filename = '/data/raw/sample_submission.csv'
zillow_filename = '/data/interim/zillow_ready.csv'

#Read CSV file
train_detail =  pd.read_csv(rootDirectory + train_filename)
test_detail =  pd.read_csv(rootDirectory + test_filename)
sample_detail=  pd.read_csv(rootDirectory + sample_filename)
zillow=  pd.read_csv(rootDirectory + zillow_filename)

In [5]:
print("There are {} rows and {} columns in train dataset".format(train_detail.shape[0],train_detail.shape[1]))
print("There are {} rows and {} columns in test dataset".format(test_detail.shape[0],test_detail.shape[1]))

There are 74111 rows and 29 columns in train dataset
There are 25458 rows and 28 columns in test dataset

### Missing Value Analysis

> Function missing_value_analysis() will gives us a list of features along with the numbers & percentage of missing values in each of the featues.

In [6]:
## Missing Value analysis
def missing_value_analysis(df):
    list_null_num = len(df.index) - df.count()
    list_null_perc = ((len(df.index) - df.count()) / df.shape[0]) * 100
    list_null_num = list_null_num.sort_values(ascending=False)
    list_null_perc = list_null_perc.sort_values(ascending=False)

    missing_df = pd.DataFrame({'Missing Count':list_null_num,
                             'Missing Percentage(%)':list_null_perc})
    missing_df.index.name = 'Feature Names'
    missing_df.reset_index(inplace=True)
    missing_df_final = missing_df[missing_df['Missing Count'] > 0]
    return missing_df_final

In [7]:
missing_value_analysis(train_detail)

             Feature Names  Missing Count  Missing Percentage(%)
0       host_response_rate          18299              24.691341
1     review_scores_rating          16722              22.563452
2             first_review          15864              21.405729
3              last_review          15827              21.355804
4            thumbnail_url           8216              11.086074
5            neighbourhood           6872               9.272578
6                  zipcode            966               1.303450
7                bathrooms            200               0.269865
8   host_identity_verified            188               0.253674
9               host_since            188               0.253674
10    host_has_profile_pic            188               0.253674
11                    beds            131               0.176762
12                bedrooms             91               0.122789

> There are 12 columns out of 29 columns in our training data which has missing values. 

> From the above table we have these observation - <br>
1. For features host_response_rate and review_scores_rating, more than 22% of the values are missing
    - **Imputation Strategy -** For host_response_rate we are going to replace all the missing values with the median of the feature. Whereas, as review_score_rating might have an impact on the price, we are going to replace the missing values with the mean of the column
<br> <br>
2. For dates related features such as first_review and last_review have more than 20% as missing values, whereas for host_since we have hardly 0.3% missung values
    - **Imputation Strategy -** We will replace the missing values in these features with 'Not available'
<br><br>
3. For features neighbourhood and zipcode we have 9% and 1% missing values respectively.
    - **Imputation Strategy -** As the number of missing values are less, we will impute the missing values with 'not provided'
<br><br>
4. For features bathrooms, host_identity_verified, host_since, host_has_profile_pic, beds and bedrooms we have less than 1% missing values
    - **Imputation Strategy -** We will impute the missing values in these features with the median of the respective feature

### Missing Value Imputation

In [8]:

def feature_engineering(data):
    
    #numeric_feats = data.dtypes[data.dtypes != "object"].index
    #numeric_to_exlude = ['id','latitude','longitude','log_price']
    #numeric_feats_final = [el for el in numeric_feats if el not in numeric_to_exlude]
    #numeric_feats_final = list(set(numeric_feats) - set(numeric_to_exlude))
    #print(numeric_feats_final)
    #print(numeric_feats_final)

    #skewed_feats = data[numeric_feats_final].apply(lambda x: skew(x.dropna())) #compute skewness
    #skewed_feats = skewed_feats[skewed_feats > 0.75]
    #skewed_feats = skewed_feats.index

    #data[skewed_feats] = np.log1p(data[skewed_feats])

    ## Initializing the imputer 
    imp_mean = Imputer(missing_values= 'NaN', strategy= 'mean', axis= 0)
    imp_median = Imputer(missing_values= 'NaN', strategy= 'median', axis= 0)
    imp_most_frequent = Imputer(missing_values= 'NaN', strategy= 'most_frequent', axis= 0)

    ## Imputing Host_response_rate
    # convert formatting for host_response_rate, removing % signs
    data['host_response_rate'] = (data['host_response_rate'].str.replace(r'[^-+\d.]', '').astype(float))
    data['host_response_rate'] = imp_median.fit_transform(data[['host_response_rate']])

    ## Imputing review_scores_rating
    data['review_scores_rating'] = imp_mean.fit_transform(data[['review_scores_rating']]).astype(int)

    ## replace NaN by 'NO Date' and treat the missing values correctly
    data['neighbourhood'] = data['neighbourhood'].replace(np.NaN,'not provided')
    data['zipcode'] = data['zipcode'].replace(np.NaN,'not provided')

    ## Imputing Bathrooms and bedrooms variables
    data['bathrooms'] = imp_median.fit_transform(data[['bathrooms']]).astype(int)
    data['bedrooms'] = imp_median.fit_transform(data[['bedrooms']]).astype(int)
    data['beds'] = imp_median.fit_transform(data[['beds']]).astype(int)

    ## Most frequent 
    data['host_identity_verified'] = data['host_identity_verified'].replace(['t','f'],[1,0])
    host_identity_verified_median = data["host_identity_verified"].median()
    data['host_identity_verified'] = data['host_identity_verified'].replace([np.NaN],[host_identity_verified_median]).astype(int)

    data['host_has_profile_pic'] = data['host_has_profile_pic'].replace(['t','f'],[1,0])
    host_has_profile_pic_median = data["host_has_profile_pic"].median()
    data['host_has_profile_pic'] = data['host_has_profile_pic'].replace([np.NaN],[host_has_profile_pic_median]).astype(int)
    
    # Count the number of aminities 
    data['amenities_count'] = data['amenities'].apply(lambda x: len(x.split()))
    
    data['name'] = data['name'].replace([np.NaN],["Not Provided"])
    
    # Count the number of words in the description
    data['description'] = data['description'].replace([np.NaN],["Not Provided"])
    data['description_length'] = data['description'].apply(lambda x: len(x.split()))
    
    # Replace True and False with 1 and 0
    data['cleaning_fee'] = data['cleaning_fee'].apply(lambda x: 1 if x==True else 0)
    
    # Replcase existing thumbnail by 1 and missig thumbnail by 0
    data['thumbnail_url'].loc[data['thumbnail_url'].notnull()] = 1
    data['thumbnail_url'].loc[data['thumbnail_url'].isnull()] = 0
    
    # Extract year from first_review field. Missing first_review date replaces by 9999
    # For this variable we could create a dummy variable
    data['first_review'].loc[data['first_review'].isnull()] = "not provided"
    #data['first_review'] = data['first_review'].apply(lambda x: x[:4])
    
    data['last_review'].loc[data['last_review'].isnull()] = "not provided"
    #data['last_review'] = data['last_review'].apply(lambda x: x[:4])
    
    data['host_since'].loc[data['host_since'].isnull()] = "not provided"
    #data['host_since'] = data['host_since'].apply(lambda x: x[:4])

    return data

> Let's pre process our train and test data using the feature_engineering function above

In [9]:
train_detail = feature_engineering(train_detail)
test_detail = feature_engineering(test_detail)

C:\Users\rtilekar\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Merge Zillow data

> We will now mergethe external zillow data with our train and test data using zipcode and city features

In [10]:
# Merge Zillow external data
zillow['zipcode']= zillow['zipcode'].astype('str')

train_detail = train_detail.merge(zillow,how='left', on = ['zipcode','city'])
# Fill missing with mean by city
train_detail["zhvi"] = train_detail[['city','zhvi']].groupby("city").transform(lambda x: x.fillna(x.mean()))

test_detail = test_detail.merge(zillow,how='left', on = ['zipcode','city'])
# Fill missing with mean by city
test_detail["zhvi"] = test_detail[['city','zhvi']].groupby("city").transform(lambda x: x.fillna(x.mean()))

In [11]:
test_detail.head()

,id,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds,amenities_count,description_length,zhvi
0,3895911,Apartment,Private room,"{TV,""Cable TV"",Kitchen,""Free parking on premis...",2,1,Real Bed,flexible,1,LA,...,Santa Monica,6,97,1,90403,1,1,19,172,13.804182
1,9710289,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",3,1,Real Bed,moderate,1,NYC,...,Williamsburg,2,80,1,11222,1,1,17,164,13.806167
2,9051635,Apartment,Private room,"{""Wireless Internet"",Kitchen,Heating,""Family/k...",1,1,Real Bed,moderate,1,SF,...,Richmond District,2,100,1,94118,1,1,13,78,14.489577
3,708374,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""W...",1,1,Real Bed,strict,1,LA,...,Marina Del Rey,7,94,1,90292,0,1,15,166,13.830892
4,626296,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1,Real Bed,flexible,1,NYC,...,West Village,0,94,1,10014,1,1,14,47,14.247098

### Create one column by amenities

> Intuitively, the price of a airbnb house should be related to the amenities provided by the house owner. For example, if a house provides wifi as well as air conditioning system then the price for that house will be more than the one which does not have these amenities.<br>
To get the maximum out of this important feature, we are going to encode this feature with 1 (respective amenity provided) vs 0 (not provided)

In [12]:
amenities_list = []
for i in range(len(train_detail)):
    amenities_list += train_detail.amenities[i][1:-1].split(',')

In [13]:
amenities_list = list(set(amenities_list))

In [14]:
amenities_list_dict_train = {}
amenities_list_dict_test = {}

for a in amenities_list:
    amenities_list_dict_train[a] = []
    amenities_list_dict_test[a] = []

In [15]:
#amenities_list_dict

In [16]:
for i in range(len(train_detail)):
    l = train_detail.amenities[i][1:-1].split(',')
    for a in amenities_list_dict_train.keys():
        if a in l:
            amenities_list_dict_train[a].append(1)
        else:
            amenities_list_dict_train[a].append(0)

In [17]:
amenities_table_train = pd.DataFrame(amenities_list_dict_train)
amenities_table_train = amenities_table_train.drop([''],axis=1)

In [18]:
for i in range(len(test_detail)):
    l = test_detail.amenities[i][1:-1].split(',')
    for a in amenities_list_dict_test.keys():
        if a in l:
            amenities_list_dict_test[a].append(1)
        else:
            amenities_list_dict_test[a].append(0)

In [19]:
amenities_table_test = pd.DataFrame(amenities_list_dict_test)
amenities_table_test = amenities_table_test.drop([''],axis=1)

In [20]:
amenities_table_test.head()

,"smooth pathway to front door""","""24-hour check-in""","""Accessible-height bed""","""Accessible-height toilet""","""Air conditioning""","""Air purifier""","""BBQ grill""","""Baby bath""","""Baby monitor""","""Babysitter recommendations""",...,Other,Oven,Pool,Refrigerator,Shampoo,Smartlock,Stove,TV,Washer,Waterfront
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [21]:
train_detail = pd.concat([train_detail, amenities_table_train], axis=1)

In [22]:
test_detail = pd.concat([test_detail, amenities_table_test], axis=1)

In [23]:
missing_value_analysis(train_detail)

  Feature Names  Missing Count  Missing Percentage(%)
0          zhvi           3468               4.679467

In [24]:
## Missing Value analysis
missing_value_analysis(test_detail)

  Feature Names  Missing Count  Missing Percentage(%)
0          zhvi           1175               4.615445

In [25]:
print("There are {} rows and {} columns in cleansed train dataset".format(train_detail.shape[0],train_detail.shape[1]))

There are 74111 rows and 162 columns in cleansed train dataset

In [26]:
print("There are {} rows and {} columns in cleansed test dataset".format(test_detail.shape[0],test_detail.shape[1]))

There are 25458 rows and 161 columns in cleansed test dataset

### Output Interim Data

> The code below outputs the processed data to interim folder so that it can be used by the model directly instead of running the whole data processing code again.

In [27]:

to_write_train = '/data/interim/train_preprocessed_interim.csv'
to_write_test = '/data/interim/test_preprocessed_interim.csv'

train_detail.to_csv(rootDirectory + to_write_train, encoding='utf-8')
test_detail.to_csv(rootDirectory + to_write_test, encoding='utf-8')